/* General */

body {
   /* background-color: lightblue; */
   margin: 0px;

}
* {
   box-sizing: border-box;
   font-family: "acumin-pro",sans-serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
   float: left;
   padding: 15px;
/*   border: solid 1px red; */
}

.row::after {
   content: "";
   clear: both;
   display: block;
}

/* header */

.header {
   width: 1188;
   background-color: #FBF6D9;
}
.header img {
   width: 200px;
}
.header h2 {
   text-align: center;
   vertical-align: top;
   margin: 0px;
   padding: 15px 15px 0px;
}
.header .contact-info {
   text-align: right;
   vertical-align: top;
   padding: 15px 15px 0px;
}

/* body - home */

.body {
   width: 1188;
   background-color: lightblue;
   height: 900px;
}

.body .menu-box {
   padding: 0px;
}
.body .menu {
   padding: 10px 30px;
}
.body .menu .menu-item {
   padding: 5px 20px;
   background-color: #98AFC7;
   border-radius: 5px;
}
.body .menu .menu-item:hover {
   background-color: lightgrey;
}

.body .menu .about-us {
   background-color: #B5EAAA;
   margin-top: 40px;
}
.body .image {
   padding: 0px;
}
.body img {
   width: 100%;
}

/* body - image grid */

.body .image-grid .row {
    padding: 40px 0px;
}
.body .portfolio-pic {
    padding: 20px;
}